In [5]:
# Librairies
import pandas as pd
import numpy as np
import requests
import zipfile
import os
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import (
    GridSearchCV, cross_val_score,
    RandomizedSearchCV, cross_validate,
    StratifiedKFold
)
from sklearn import metrics

import warnings
warnings.filterwarnings('ignore')
from pandas_profiling import ProfileReport

### Importation des données

In [7]:
data_path = r'C:\Users\nmako\OneDrive\Documents\Data-Science-Projects-Repository\Machine Learning TP\Application-ML-Detection-Defauts-Paiements-Credits-Bancaires\data\raw\credit_card_default.csv'
data = pd.read_csv(data_path)
df = data.copy()

### Analyses Exploratoires des données (EDA)

L'analyse exploratoire des données est une étape essentielle, il permet de comprendre les  données, de mettre en évidence des tendances, des relations et des anomalies, et de préparer les données pour la modélisation.
Tools : Sweetviz and pandas-profiling

In [8]:
#### Data Profiling
profile = ProfileReport(df, title="Credit Card Default Data Profiling Report", explorative=True)
profile.to_file("credit_card_default_data_profiling_report.html")

Summarize dataset: 100%|██████████| 475/475 [01:11<00:00,  6.61it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:08<00:00,  8.63s/it]
Render HTML: 100%|██████████| 1/1 [00:14<00:00, 14.84s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00,  9.45it/s]

In [20]:
df

,id,limit_bal,sex,education,marriage,age,payment_status_sep,payment_status_aug,payment_status_jul,payment_status_jun,...,bill_statement_jun,bill_statement_may,bill_statement_apr,previous_payment_sep,previous_payment_aug,previous_payment_jul,previous_payment_jun,previous_payment_may,previous_payment_apr,default_payment_next_month
0,1,20000,Female,University,Married,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,Female,University,Single,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,Female,University,Single,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,Female,University,Married,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,Male,University,Married,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,Male,High school,Married,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,29997,150000,Male,High school,Single,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,29998,30000,Male,University,Single,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,29999,80000,Male,High school,Married,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,30000,50000,Male,University,Married,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [21]:
# Convertir les colonnes 'sex', 'education', 'default_payment_next_month' et 'marriage' en variables catégorielles
categorical_columns = ["sex", "marriage", "education", "default_payment_next_month"]
df[categorical_columns] = df[categorical_columns].astype("category")

In [23]:
df.describe(include=['category']).T

                            count unique         top   freq
sex                         30000      2      Female  18112
education                   30000      4  University  14030
marriage                    30000      3      Single  15964
default_payment_next_month  30000      2           0  23364