In [5]:
# Librairies
import pandas as pd
import numpy as np
import requests
import zipfile
import os
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import (
    GridSearchCV, cross_val_score,
    RandomizedSearchCV, cross_validate,
    StratifiedKFold
)
from sklearn import metrics

import warnings
warnings.filterwarnings('ignore')
from pandas_profiling import ProfileReport

### Importation des données

In [7]:
data_path = r'C:\Users\nmako\OneDrive\Documents\Data-Science-Projects-Repository\Machine Learning TP\Application-ML-Detection-Defauts-Paiements-Credits-Bancaires\data\raw\credit_card_default.csv'
data = pd.read_csv(data_path)
df = data.copy()

### Analyses Exploratoires des données (EDA)

L'analyse exploratoire des données est une étape essentielle, il permet de comprendre les  données, de mettre en évidence des tendances, des relations et des anomalies, et de préparer les données pour la modélisation.
Tools : Sweetviz and pandas-profiling

In [8]:
#### Data Profiling
profile = ProfileReport(df, title="Credit Card Default Data Profiling Report", explorative=True)
profile.to_file("credit_card_default_data_profiling_report.html")

Summarize dataset: 100%|██████████| 475/475 [01:11<00:00,  6.61it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:08<00:00,  8.63s/it]
Render HTML: 100%|██████████| 1/1 [00:14<00:00, 14.84s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00,  9.45it/s]

In [12]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,30000.0,15000.500000,8660.398374,1.0,7500.75,15000.5,22500.25,30000.0
limit_bal,30000.0,167484.322667,129747.661567,10000.0,50000.00,140000.0,240000.00,1000000.0
age,30000.0,35.485500,9.217904,21.0,28.00,34.0,41.00,79.0
payment_status_sep,30000.0,-0.016700,1.123802,-2.0,-1.00,0.0,0.00,8.0
payment_status_aug,30000.0,-0.133767,1.197186,-2.0,-1.00,0.0,0.00,8.0
payment_status_jul,30000.0,-0.166200,1.196868,-2.0,-1.00,0.0,0.00,8.0
payment_status_jun,30000.0,-0.220667,1.169139,-2.0,-1.00,0.0,0.00,8.0
payment_status_may,30000.0,-0.266200,1.133187,-2.0,-1.00,0.0,0.00,8.0
payment_status_apr,30000.0,-0.291100,1.149988,-2.0,-1.00,0.0,0.00,8.0
bill_statement_sep,30000.0,51223.330900,73635.860576,-165580.0,3558.75,22381.5,67091.00,964511.0
bill_statement_aug,30000.0,49179.075167,71173.768783,-69777.0,2984.75,21200.0,64006.25,983931.0
bill_statement_jul,30000.0,47013.154800,69349.387427,-157264.0,2666.25,20088.5,60164.75,1664089.0
bill_statement_jun,30000.0,43262.948967,64332.856134,-170000.0,2326.75,19052.0,54506.00,891586.0
bill_statement_may,30000.0,40311.400967,60797.155770,-81334.0,1763.00,18104.5,50190.50,927171.0
bill_statement_apr,30000.0,38871.760400,59554.107537,-339603.0,1256.00,17071.0,49198.25,961664.0
previous_payment_sep,30000.0,5663.580500,16563.280354,0.0,1000.00,2100.0,5006.00,873552.0
previous_payment_aug,30000.0,5921.163500,23040.870402,0.0,833.00,2009.0,5000.00,1684259.0
previous_payment_jul,30000.0,5225.681500,17606.961470,0.0,390.00,1800.0,4505.00,896040.0
previous_payment_jun,30000.0,4826.076867,15666.159744,0.0,296.00,1500.0,4013.25,621000.0
previous_payment_may,30000.0,4799.387633,15278.305679,0.0,252.50,1500.0,4031.50,426529.0
previous_payment_apr,30000.0,5215.502567,17777.465775,0.0,117.75,1500.0,4000.00,528666.0
default_payment_next_month,30000.0,0.221200,0.415062,0.0,0.00,0.0,0.00,1.0

In [18]:
df.select_dtypes(include='category').columns

Index([], dtype='object')